<h1>Home</h1>
<p>A demonstration of Google Analytics in a Rails 6 app with Turbolinks and Content Security Protection setup.</p>
<p>Go to <a href="/about">about</a> with Turbolinks enabled.</p>
<p>Go to <a href="/about" data-turbolinks="false">about</a> with Turbolinks disabled.</p>